p {
    margin: 0;
    padding: 3px;
}

body {
    padding: 0;
    margin: 250px auto;
    max-width: 1000px;
    background: grey;
    
}


form {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
input {
    margin: 0 auto;
    width: 200px;
    height: 30px;
    text-decoration: none;
}

